 
<footer>
    <div class='contact'>
        <span>
            Bekking Electronics Design<br/>
            Balthasar van der Polweg 434<br/>
            2628 BT Delft<br/>
        </span>
        <span>
            tel: +31630397999<br/>
            email: richard@electronicsdesign.nl<br/>
        </span>
        <span>
            rekeningnummer: 7989220 <br/>
            ter name van: BEKKING<br/>
            IBAN: NL06INGB0007989220<br/>
            BIC: INGBNL2A<br/>
        </span>
        <span>
            KvK vestiging: Delft<br/>
            KvK nummer: 55204600<br/>
            Belastingnummer: NL158734701B01<br/>
        </span>
    </div>
    
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="30" width="800">
        <use class='back' xlink:href="#footer_back"/>
        <use class='image' xlink:href="#crooked_image" clip-path='url(#footer_clip)'/>
        <use class='line'  xlink:href='#footer_line' clip-path="url(#footer_clip)">
    </svg>
</footer>
